body{
      font-family: "Poppins", sans-serif;
      color: #333;
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 768px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.about-container div {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}
.about-me h4{
     text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #007BFF;
  margin-top: 140px;
}
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;              
  background-color: rgb(141, 141, 201);   
  border-bottom: 1px solid rgb(63, 128, 150);
}
footer {
  background-color: rgb(141, 141, 201);   
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 80px;
  font-size: 17px;
}
.skill{
    display: flex;
    width: 90%;
    gap: 10px;
    margin: auto;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    background-color: #c7f716;
    text-align: center;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 25px;
    width: 200px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

@media(max-width:472px){
    .about-container div {
        font-size: medium;
    }
    .about-me h4{
        margin-top: 50px;
    }
}
@media (max-width: 768px) {
      .side-bar{
    padding: 10px 10px;
    height: 90vh;
  }
}